
/* --------------------------------------------- 

* Filename:     custom-style.css
* Version:      1.0.0 (2016-01-12)
* Website:      http://www.zymphonies.com
                http://www.freebiezz.com
* Description:  System Style
* Author:       Zymphonies Dev Team
                info@zymphonies.com

-----------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);

/*---------------------------------------------*/
body{
  font-family: 'Noto Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.62em;
  color: #333;
  background: #f6f1ed;
  overflow-x: hidden;
}

p{ margin: 0 0 20px 0; }

h1, .h1{ font-size: 22px; color: #000; }

h2, .h2{ font-size: 20px; color: #000; }

h3, .h3{ font-size: 16px; color: #000; }

h4, .h4{ font-size: 14px; color: #000; }

img{ max-width: 100%; }

a{
  color: #006694;
}

a:hover{
  color: #21759b;
}

ol, ul {
  padding-left: 15px;
}

ul.links.inline{
  padding: 0;
}

ul.links.inline li{
  list-style: none;
}

th {
  padding: 3px 10px;
}

::-moz-selection{
    background: #738E92;
    color: #fff;
}
::-webkit-selection{
    background: #738E92;  
    color: #fff;
}
::selection {
    background: #738E92;
    color: #fff;
}

.block{
  margin-bottom: 20px;
}

.container {
  max-width: 1000px;
}

.main-header{
  background: #8FB696;
  position: relative;
  padding: 10px 0;
  background: url(../images/courtroom-v2.jpg) #8FB696 center no-repeat;
  background-size: cover;
}

.navbar-default {
  border-color: #e7e7e7;
  margin: 0;
  border: 0;
  border-radius: 0;
  /*padding-top: 20px;*/
  background: none;
  position: relative;
}

.main-menuwrap nav{
  border: 0;
  margin: 0;
  position: relative;
  z-index: 2;
  border-radius: 0;
}

.main-header .region{
  position: relative;
  z-index: 2;
}

/*region header*/

.site-branding{
  margin: 0;
}

.brand.logo{
  margin-right: 5px;
  display: none;
}

.region-header .brand{
  vertical-align: middle;
  line-height: 100%;
}

.region-header .site-name{
  padding-top: 12px;
  line-height: 20px;
}

.site-name a{
  font-size: 24px;
  color: #F6F1ED;
  transition: all .2s ease-in-out;
  padding: 0 10px 5px 0;
}

.site-name a:hover{
  color: #43824E;
  transition: all .2s ease-in-out;
}

/*Banner*/

.welcome-banner-text{
  text-align: center;
  line-height: 160%;
  max-width: 600px;
  padding: 90px 0;
}

.welcome-banner-text h2{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/*top widget*/

.topwidget .fa{
  font-size: 60px;
  background: #4D4F4A;
  width: 120px;
  height: 120px;
  padding: 32px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 20px;
}

.topwidget h2{
  margin-top: 0;
}

.topwidget p:last-child{
  margin: 0;
}

/*footerwidget*/

.footerwidget{
  background: #0A0B0A;
  color: #8A8A8A;
  padding: 10px 0;
}

.footerwidget img.left{
  float: left;
  margin: 10px 10px 0 0;
}

.copyright{
  background: #000;
  color: #fff;
  border: 1px solid #1D1D1D;
}

.copyright p{
  margin: 13px 0;
}

.footerwidget h2,
.footerwidget .h2{
  color: #0086A0;
}

/*bottom-widgets*/

.bottom-widgets{
  text-align: center;
  background: #FBFBFB;
  padding: 10px 0;
}

.bottom-widgets .region{
  padding: 10px;
  background: #DEDEDE;
}

/*Footer menu*/

.footer-menu{
  margin: 0;
  border: 0;
  background: #738E92;
  color: #fff;
  bottom: 0;
  width: 100%;
}

.footer-menu ul{
  margin: 10px 0;
  padding: 0;
}

.footer-menu nav li{
  display: inline-block;
}

.footer-menu nav li a{
  display: block;
  padding: 4px 20px 4px 0;
}

.google_map p,
.google_map .block{
  margin: 0;
}

.google_map iframe{
  display: block;
}

/*Credit link*/

.credit-link{
  text-align: left;
}

/*SOCIAL MEDIA*/

.social-media{
  margin: 10px 0;
  overflow: hidden;
  float: left;
}

.social-media a {
  width: 30px;
  height: 30px;
  color: #fff;
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  background: #3262b9;
  font-size: 14px;
  line-height: 220%;
}

.social-media a.google-plus{
  background: #de2020;
}

.social-media a.twitter{
  background: #29C5F6;
}

.social-media a.linkedin{
  background: #069;
}

.social-media a.pinterest{
  background: #C61118;
}

.social-media a.rss{
  background: #FF6D00;
}

.social-media a:hover{
  opacity: .6;
}

/*FORM*/

input, button, select, textarea{
  padding: 9px;
  border: 1px solid #C7C7C7;
}
.contact-message-form input,
.contact-message-form textarea,
.contact-message-form select {
  border: 1px solid #8C6F4F;
  border-radius: 3px;
  background: #FFF;
  max-width: 100%;
}
.contact-message-form label{
  display: none;
}

.contact-message-form .form-item-field-subject label{
  display: block;
}

.js-form-type-checkbox label {
  display: inline-block;
}

.contact-form .form-actions input:last-child {
  display: none;
}
.btn, 
input[type="submit"]{
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #E3E3E3));
  background-image: -webkit-linear-gradient(top, #FFF 0%, #E3E3E3 100%);
  background-image: linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E3E3E3');
  border: 1px solid #dbdbdb;
  color: #333;
  font-weight: bold;
  padding: 9px;
}

.btn:hover, 
input[type="submit"]:hover{
  background-image: -ms-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: -moz-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: -o-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBDBDB), color-stop(1, #F2F2F2));
  background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#F2F2F2');
}


.btn-large,
input[type="submit"] {
  border: 2px solid #8C6F4F;
  color: #8C6F4F;
  font-weight: bold;
  padding: 9px;
  background: none;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;  
  transition: all .2s ease-in-out;
  border-radius: 4px;
}

.btn-large:hover,
input[type="submit"]:hover {
  background: #8C6F4F;
  color: #fff;
  transition: all .2s ease-in-out;
  border-radius: 4px;
}
/*FRONT PAGE*/

.path-frontpage .feed-icon{
  display: none;
}

.path-frontpage .block-system-main-block {
  padding: 6% 30px;
  background: #EEDDBB;
  margin: 40px 15px 20px;
}

.path-frontpage h2 {
  text-align: center;
  font-size: 1.8em;
  margin-top: 0;
  letter-spacing: 0.7px;
}

/*MENU*/

.main-menuwrap{
  margin-bottom: 10px;
}

.navbar-default .navbar-toggle{
  background: #fff;
  margin: 5px;
}

nav h2{
  display: none;
}

.menu-base-theme,
.menu-base-theme a{
  background: none;
}

/*.menu-base-theme a:hover, 
.menu-base-theme a:focus, 
.menu-base-theme a:active, 
.menu-base-theme a.highlighted{
  background: #fff;
}*/

.menu-base-theme li a{
  background: rgba(251, 251, 251, 0.76);
  color: #141100;
  font-weight: bold;
}

.main-menu {
  position: relative;
  z-index: 9999;
}

.menu-base-theme a{
  border-bottom: 1px solid #EEF0F7;
}

.menu-base-theme a span.sub-arrow{
  color: #999;
  font-size: 22px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #DCDCDC;
  background: #EFEFEF;
} 

.navbar-toggle{
  z-index: 999;
}

/*breadcrumb*/

.breadcrumb{
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.breadcrumb ul{
  padding: 0;
}

.breadcrumb ul li{
  display: inline-block;
}

/*search form*/

#search-block-form{
  display: table;
  width: 100%;
}

#search-block-form .form-item,
#search-block-form .form-actions{
  display: table-cell;
  vertical-align: top;
}

#search-block-form input{
  width: 100%;
}

/*Demo typography*/

.bd-example {
  position: relative;
  padding: 20px;
  border: 2px solid #f7f7f9;
}

.highlight{
  padding: 20px;
  background-color: #f7f7f9;
}

.highlight pre{
  border: 0;
  background: none;
}

.bd-example-type .table tr:first-child td {
  border-top: 0;
}

.bd-example-type h1, 
.bd-example-type h2, 
.bd-example-type h3, 
.bd-example-type h4, 
.bd-example-type h5, 
.bd-example-type h6 {
  margin: 0;
}

.bd-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}

/*Contact form*/

.path-contact{}

.contact-message-feedback-form{
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid #D8D8D8;
  padding: 10px 30px;
  background: #F5F5F4;
}

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea{
  width: 100%;
}

/*user-login-form*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

/*Maintainance*/

.maintenance-page{
  background: url(../images/maintenance-bg.png) #66CBFF center no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  font-size: 18px;
  color: #000;
}

.maintenance-msg {
  margin: 20px 0;
  background: rgba(242, 244, 207, 0.88);
  padding: 20px 30px;
  display: inline-block;
  color: #404040;
  border: 1px solid #fff;
  box-shadow: 5px 5px 0px #FFFFFF;
  font-size: 14px;
}

.maintenance-msg h1{
  text-transform: uppercase;
  font-weight: bold;
}

.maintenance-page .brand,
.maintenance-page .name-and-slogan{
  display: inline-block;
  vertical-align: middle;
}

.maintenance-page .site-name a{
  color: #404040;
}

.maintenance-page .site-slogan,
.maintenance-page .name-and-slogan{
  display: none;
}

/*Comment*/

.comment-wrap{
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
}

.comment-wrap .author-details{
  float: left;
  width: 20%;
}

.comment-wrap .author-comments{
  padding-left: 5px;
  float: left;
  width: 80%;
}

.comment-submitted{
  padding: 5px 10px;
  border: 1px solid #eee;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.comment-wrap .author-comments h3{
  margin-top: 10px;
}

.comment-wrap .author-comments p{
  margin-bottom: 10px;
}

/*links inline*/

ul.links.inline li{
  display: inline-block;
  padding-right: 10px;
}

/*profile*/

.profile > div{
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.profile h4.label{
  color: #333;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

/*Carousel*/

.slideshow{
  display: none;
}

.region-slideshow{
  border: 5px solid #007085;
}

.region-slideshow .block{
  margin: 0;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img{
  width: 100%;
}

.carousel-control.left,
.carousel-control.right{
  width: 50px;
  height: 50px;
  background: #000;
  top: 50%;
  padding: 12px;
  margin-top: -25px;
}

/*main menu custom*/
.primary-menu-wrap {
  display: none;
}

.main-header .col-sm-4,
.main-header .col-sm-3 {
  width: 100%;
}

.main-header .region-header,
.main-header nav {
  display: flex;
  flex-direction: column;
}


#main-menu {
  float: right;
}

#block-sitebranding {
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
  padding: 20px 0;
}

/*.main-header nav {
  align-items: flex-end;
}*/

.main-header nav ul li:last-child a {
  border-bottom: none;
  padding-bottom: 9px;
}

/*services*/

.services ul {
  margin: auto;
}

.services li {
  margin: 6px 0;
  line-height: 1.2em;
}

.services .fa,
.about-blocks .fa {
  display: block;
  text-align: center;
  font-size: 40px;
  margin: 10px;
}

.services>div:last-child {
  padding: 30px;
  background: #EEDDBB;
  min-height: 340px;
}

.services:last-child div:last-child {
  min-height: 340px;
}

#block-locations {
  text-align: center;
  margin-bottom: 50px;
}
/*about*/

.section-content {
  margin: 60px 0;
}

.first {
  margin-top: 0px;
}

.about-blocks>div:last-child {
  padding: 11px;
  background: #EEDDBB;
  text-align: center;
}

.about-blocks {
  margin-top: 50px;
}

.about-blocks div:last-child {
  min-height: 244px;
}

#fees tr {
  border: 1px solid #101010;
}

#fees td {
  padding: 5px;
}

/*footer*/

.footer-menu .container {
  font-size: 14px;
}

.region-footer-menu p {
  margin: 0;
  color: #2C4E53;
}

.region-footer-menu .col-md-8 {
  margin-top: 20px;
}

.region-footer-menu .menu {
  margin: 0;
}

.region-footer-menu .menu a {
  padding: 0;
  color: #2C4E53;
}

.region-footer-menu nav {
  margin: 20px 0;
}

.region-footer-menu div,
.region-footer-menu nav {
  padding: 0;
}
